<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabel Laporan Anev</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
        }
        th {
            background-color: #006faf;
            color: white;
        }

    </style>
</head>
<body>
    <div style="margin:30px">
    <table width="100%" align="center">
        <div>
            <p>Selamat Pagi Komandan Melaporkan Anev Harian Laka dan Dakgar Lantas berdasarkan Rekapitulasi pada aplikasi IRSMS dan aplikasi Dakgar selama 1X24 Jam, <%= full_date %> sbb :</p>
        </div>
            <div>
                <p>A. LAPORAN HARIAN ANEV KORBAN LAKA LANTAS</p>
            </div>
            <div>
                <tr>
                    <th rowspan="2">No</th>
                    <th rowspan="2">Uraian</th>
                    <th colspan="2">Waktu</th>
                    <th colspan="2">Trend</th>
                    <th rowspan="2">Keterangan</th>
                </tr>
                <tr>
                   <th><%= name_yesterdays %></th>
                    <th><%= name_todays %></th>
                    <th>ANGKA</th>
                    <th>PERSEN %</th>
                </tr>
            <tr align="center">
                <td>1</td>
                <td>JUMLAH LAKA</td>
                <td><%= anev_laka[0].insiden_kecelakaan_yesterday %></td>
                <td><%= anev_laka[0].insiden_kecelakaan_today %></td>
                <td><%= anev_laka[0].angka_insiden_kecelakaan %></td>
                <td><%= anev_laka[0].persen_insiden_kecelakaan %>%</td>
                <td><%= anev_laka[0].status_insiden_kecelakaan %></td>
            </tr>
            <tr align="center">
                <td>2</td>
                <td>MENINGGAL DUNIA</td>
                 <td><%= anev_laka[0].meninggal_dunia_yesterday %></td>
                <td><%= anev_laka[0].meninggal_dunia_today %></td>
                <td><%= anev_laka[0].angka_meninggal_dunia %></td>
                <td><%= anev_laka[0].persen_meninggal_dunia %>%</td>
                <td><%= anev_laka[0].status_meninggal_dunia %></td>
            </tr>
            <tr align="center">
                <td>3</td>
                <td>LUKA BERAT</td>
                 <td><%= anev_laka[0].luka_berat_yesterday %></td>
                <td><%= anev_laka[0].luka_berat_today %></td>
                <td><%= anev_laka[0].angka_luka_berat %></td>
                <td><%= anev_laka[0].persen_luka_berat %>%</td>
                <td><%= anev_laka[0].status_luka_berat %></td>
            </tr>
            <tr align="center">
                <td>4</td>
                <td>LUKA RINGAN</td>
                 <td><%= anev_laka[0].luka_ringan_yesterday %></td>
                <td><%= anev_laka[0].luka_ringan_today %></td>
                <td><%= anev_laka[0].angka_luka_ringan %></td>
                <td><%= anev_laka[0].persen_luka_ringan %>%</td>
                <td><%= anev_laka[0].status_luka_ringan %></td>
            </tr>
            <tr align="center">
                <td>5</td>
                <td>KERUGIAN MATERIAL</td>
                 <td><%= anev_laka[0].kerugian_material_yesterday %></td>
                <td><%= anev_laka[0].kerugian_material_today %></td>
                <td><%= anev_laka[0].angka_kerugian_material %></td>
                <td><%= anev_laka[0].persen_kerugian_material %>%</td>
                <td><%= anev_laka[0].status_kerugian_material %></td>
            </tr>
            </div>
    </table>

    <table width="100%" align="center" >
        <div style="margin-top: 30px;">
            <div>
                <p>B. LAPORAN HARIAN ANEV DATA DAKGAR</p>
            </div>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Uraian</th>
                <th colspan="2">Waktu</th>
                <th colspan="2">Trend</th>
                <th rowspan="2">Keterangan</th>
            </tr>
            <tr>
               <th><%= name_yesterdays %></th>
                <th><%= name_todays %></th>
                <th>ANGKA</th>
                <th>PERSEN %</th>
            </tr>
            <tr align="center">
                <td>1</td>
                <td>JUMLAH DAKGAR</td>
               <td><%= anev_gar[0].total_garlantas_yesterday %></td>
                <td><%= anev_gar[0].total_garlantas_today %></td>
                <td><%= anev_gar[0].angka_total_garlantas %></td>
                <td><%= anev_gar[0].persen_total_garlantas %>%</td>
                <td><%= anev_gar[0].status_total_garlantas %></td>
            </tr>
            <tr align="center">
                <td>2</td>
                <td>GAR BERAT</td>
                 <td><%= anev_gar[0].pelanggaran_berat_yesterday %></td>
                <td><%= anev_gar[0].pelanggaran_berat_today %></td>
                <td><%= anev_gar[0].angka_pelanggaran_berat %></td>
                <td><%= anev_gar[0].persen_pelanggaran_berat %>%</td>
                <td><%= anev_gar[0].status_pelanggaran_berat %></td>
            </tr>
            <tr align="center">
                <td>3</td>
                <td>GAR SEDANG</td>
                <td><%= anev_gar[0].pelanggaran_sedang_yesterday %></td>
                <td><%= anev_gar[0].pelanggaran_sedang_today %></td>
                <td><%= anev_gar[0].angka_pelanggaran_sedang %></td>
                <td><%= anev_gar[0].persen_pelanggaran_sedang %>%</td>
                <td><%= anev_gar[0].status_pelanggaran_sedang %></td>
            </tr>
            <tr align="center">
                <td>4</td>
                <td>GAR RINGAN</td>
               <td><%= anev_gar[0].pelanggaran_ringan_yesterday %></td>
                <td><%= anev_gar[0].pelanggaran_ringan_today %></td>
                <td><%= anev_gar[0].angka_pelanggaran_ringan %></td>
                <td><%= anev_gar[0].persen_pelanggaran_ringan %>%</td>
                <td><%= anev_gar[0].status_pelanggaran_ringan %></td>
            </tr>
        </div>
    </table>

<table width="100%" align="center" >
    <div style="margin-top: 30px;">
        <div>
            <p>C. LAPORAN HARIAN ANEV DATA TURJAGWALI</p>
        </div>
        <tr>
            <th rowspan="2">No</th>
            <th rowspan="2">Uraian</th>
            <th colspan="2">Waktu</th>
            <th colspan="2">Trend</th>
            <th rowspan="2">Keterangan</th>
        </tr>
        <tr>
            <th><%= name_yesterdays %></th>
                    <th><%= name_todays %></th>
            <th>ANGKA</th>
            <th>PERSEN %</th>
        </tr>
        <tr align="center">
            <td>1</td>
            <td>PENGATURAN</td>
             <td><%= anev_turjagwali[0].pengaturan_yesterday %></td>
                <td><%= anev_turjagwali[0].pengaturan_today %></td>
                <td><%= anev_turjagwali[0].angka_pengaturan %></td>
                <td><%= anev_turjagwali[0].persen_pengaturan %>%</td>
                <td><%= anev_turjagwali[0].status_pengaturan %></td>
        </tr>
        <tr align="center">
            <td>2</td>
            <td>PENJAGAAN</td>
            <td><%= anev_turjagwali[0].penjagaan_yesterday %></td>
                <td><%= anev_turjagwali[0].penjagaan_today %></td>
                <td><%= anev_turjagwali[0].angka_penjagaan %></td>
                <td><%= anev_turjagwali[0].persen_penjagaan %>%</td>
                <td><%= anev_turjagwali[0].status_penjagaan %></td>
        </tr>
        <tr align="center">
            <td>3</td>
            <td>PENGAWALAN</td>
           <td><%= anev_turjagwali[0].pengawalan_yesterday %></td>
                <td><%= anev_turjagwali[0].pengawalan_today %></td>
                <td><%= anev_turjagwali[0].angka_pengawalan %></td>
                <td><%= anev_turjagwali[0].persen_pengawalan %>%</td>
                <td><%= anev_turjagwali[0].status_pengawalan %></td>
        </tr>
        <tr align="center">
            <td>4</td>
            <td>PATROLI</td>
            <td><%= anev_turjagwali[0].patroli_yesterday %></td>
                <td><%= anev_turjagwali[0].patroli_today %></td>
                <td><%= anev_turjagwali[0].angka_patroli %></td>
                <td><%= anev_turjagwali[0].persen_patroli %>%</td>
                <td><%= anev_turjagwali[0].status_patroli %></td>
        </tr>
    </div>
</table>

<div class="row">
    <div class="col-2" style="float: right; text-align: center; margin-top: 50px;">
        <div>Jakarta, <%= full_date %></div><br>
        <div>PENANGGUNG JAWAB</div><br>
        <div>KANIT II NTMC BAG OPS KORLANTAS POLRI</div>
        <div style="margin-top: 15vh;">SUNARYO</div><br>
        <div>IPDA / 71090054</div><br><br><br>
    </div>
</div>

    <div style=" width: 100%; text-align: right; float: right; margin-top: 50px;">
        
    </div>
    </div>
</body>
</html>