<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANEV DAILY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta http-equiv="Content-Security-Policy"
        content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;" />
    <style>
        body {
            color: white;
            /* background-color: #222a35; */
        }

        .tablesData {
            width: 80%;
            margin-left: 10%;
        }

        .tableChild {
            width: 80%;
            margin-left: 12%;
        }

        ol {
            list-style-type: none;
            counter-reset: elementcounter;
            padding-left: 0;

        }

        /* li {
            width: 50%;
        } */

        li::before {
            content: counter(elementcounter) ") ";
            counter-increment: elementcounter;
            /* font-weight: bold; */
            margin-right: 1%;
            height: 10px;
            width: 20px;
        }

        .trTable,
        .tdCHild {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        /* table,
        th,
        td {
            
        } */
    </style>
</head>

<body style="color: black;">

    <%- include('../pages/daily/header/judul-samping.ejs'); %>
        <%- include('../pages/daily/header/judul-utama.ejs', {date,judul}); %>
            <%- include('../pages/daily/header/judul-samping.ejs'); %>

                <div style="width: 100%;text-align: center;margin-top: 4%;">
                    <img src="assets/logo/korlantas-kecil.png" style="width: 80px;height: 80px;" />
                </div>
                <div style="width: 100%;justify-items: center;flex: 1;justify-self: center;margin-top: 4%;">
                    <center>
                        <p style="width: 48%;text-align: center;font-weight: bold;border-bottom:1px solid black;">
                            LAPORAN
                            ANALISA DAN
                            EVALUASI <br>
                            OPERASI PURI AGUNG-2022 PAMWAL KTT G20 BALI</p>
                    </center>
                </div>
                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">I.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">Pendahuluan</p>
                        </td>
                    </tr>

                </table>
                <table class="tableChild">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>1.</p>
                            </div>

                        </td>
                        <td>
                            <p>Umum</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Pemerintah Indonesia sebagai penyelenggara Konferensi Tingkat Tinggi (KTT)
                                            Presidensi G20 Tahun 2022 Bali, adalah sebagai tongkat estafet Presidensi
                                            G-20 yang diserahkan secara resmi oleh Perdana Menteri Italia kepada
                                            Presiden Joko Widodo pada tanggal 30 s.d. 31 Oktober 2021, di Roma. Momentum
                                            itu merupakan kali pertama Indonesia menjadi Presidensi G-20, sejak forum
                                            ini dibentuk pada tahun 1999 yang lalu, sehingga menjadi perhatian penting
                                            untuk menunjukkan kepemimpinan Indonesia dalam menjadikan Indonesia sebagai
                                            role model pemulihan ekonomi pasca pandemic Covid-19;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Indonesia yang ditunjuk sebagai tuan rumah pelaksanaan rangkaian kegiatan
                                            Presidensi G-20 dan KTT sebagai puncak pertemuan yang dilaksanakan di
                                            Provinsi Bali adalah rapat tingkat Kepala Negara/Pemerintahan yang diawali
                                            dengan beberapa kegiatan, baik itu forum antar Kepala Negara, forum antar
                                            Gubernur Bank Central, forum antar Menteri maupun forum antar delegasi
                                            lainnya. Adapun tema Presidensi G-20 Tahun 2022 yaitu “Recover Together,
                                            Recover Stronger” Indonesia ingin mengajak seluruh dunia untuk bahu-membahu,
                                            saling mendukung untuk pulih Bersama serta tumbuh lebih kuat dan
                                            berkelanjutan;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            c.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Presidensi G-20 Tahun 2022 meliputi persiapan dan penyelenggaraan rangkaian
                                            pertemuan Presidensi G-20 yang terdiri atas:

                                        </p>
                                        <ol>
                                            <li>Pertemuan Konferensi Tingkat Tinggi;
                                            </li>
                                            <li>Pertemuan tingkat Menteri dan Gubernur Bank Sentral;</li>
                                            <li>Pertemuan tingkat Sherpe;</li>
                                            <li>Pertemuan tingkat deputi;</li>
                                            <li>Pertemuan tingkat Working Group;</li>
                                            <li>Pertemuan tingkat Engagement Group;</li>
                                            <li>Program Side Events;</li>
                                            <li>Program Road to G-20 Indonesia 2022;</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            d.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Adapun negara anggota G-20 terdiri dari AS, Kanada, Meksiko, Argentina,
                                            Brasil, Inggris, Jerman, Italia, Prancis, Rusia, Afrika Selatan, Arab Saudi,
                                            Turki, China, Jepang, Korea Selatan, India, Indonesia, Australia, dan Uni
                                            Eropa. Peserta KTT G-20 Lainnya terdiri dari 9 undangan Kepala Negara lain
                                            dan 10 pimpinan organisasi internasional

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            e.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Peserta VVIP G20 yang hadir terdiri dari Kepala Negara peserta G-20 sebanyak
                                            21 orang, kepala negara tamu undangan G-20 sebanyak 9 orang, kepala
                                            organisasi internasional G-20 sebanyak 10 negara, peserta VIP G-20 yang
                                            hadir sebanyak 123 orang dari negara peserta G-20, negara undangan dan
                                            organisasi internasional, serta delegasi lainnya yang diperkirakan sebanyak
                                            7.000 orang.

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            f.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Adapun jenis pertemuan dalam forum Presidensi G-20, yaitu:

                                        </p>
                                        <table>
                                            <tr>
                                                <td style="vertical-align: text-top;width: 25px;">1)</td>
                                                <td>KTT merupakan acara puncak dari proses pertemuan G-20, yaitu rapat
                                                    tingkat kepala negara/pemerintahan;</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: text-top;">2)</td>
                                                <td>Ministeral and Deputies Meetings atau pertemuan Tingkat Menteri dan
                                                    Deputi, diadakan di masing-masing area focus utama forum pada
                                                    finance
                                                    track, ministerial Meeting dihadiri oleh Menteri Keuangan dan
                                                    Gubernur
                                                    Bank Sentral, yang disebut Finance Minister and Bank Governors
                                                    Meeting
                                                    (FMCBG), Sementara pertemuan para Deputi disebut Finance and Central
                                                    Bank Deputies Meetings (FCBD);</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: text-top;">3)</td>
                                                <td>Kelompok Kerja atau Working Group beranggotakan para ahli dari
                                                    negara
                                                    G-20 yang menangani isu-isu spesifik yang terkait dengan agenda G-20
                                                    yang lebih luas, kemudian dimasukkan dalam segmen kementerian dan
                                                    akhirnya KTT.</td>
                                            </tr>
                                        </table>
                                        <!-- <ol>
                                            <li>KTT merupakan acara puncak dari proses pertemuan G-20, yaitu rapat
                                                tingkat kepala negara/pemerintahan;
                                            </li>
                                            <li>Ministeral and Deputies Meetings atau pertemuan Tingkat Menteri dan
                                                Deputi, diadakan di masing-masing area focus utama forum pada finance
                                                track, ministerial Meeting dihadiri oleh Menteri Keuangan dan Gubernur
                                                Bank Sentral, yang disebut Finance Minister and Bank Governors Meeting
                                                (FMCBG), Sementara pertemuan para Deputi disebut Finance and Central
                                                Bank Deputies Meetings (FCBD);</li>
                                            <li>Kelompok Kerja atau Working Group beranggotakan para ahli dari negara
                                                G-20 yang menangani isu-isu spesifik yang terkait dengan agenda G-20
                                                yang lebih luas, kemudian dimasukkan dalam segmen kementerian dan
                                                akhirnya KTT.</li>

                                        </ol> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            g.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Hal terpenting dalam penyelenggaraan KTT G-20 Tahun 2022 adalah jaminan
                                            keamanan masing-masing delegasi selama berada di Bali untuk itu diperlukan
                                            persiapan maksimal agar penyelanggaraan KTT G-20 Tahun 2022 yang akan
                                            dilaksanakan pada tanggal 15 s.d. 16 November 2022 dapat berjalan aman,
                                            lancer dan situasi kondusif serta menjaga reputasi Indonesia sebagai negara
                                            yang sukses menyelanggarakan event internasional;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            h.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Polri sebagai alat negara yang bertugas memelihara keamanan dan ketertiban
                                            masayarakat, menegakkan hukum, memberikan perlindungan, pengayoman dan
                                            pelayanan kepada masyarakat, dituntut untuk mampu mengantisipasi dan
                                            menanggulangi berbagai bentuk ancaman gangguan Kamtibmas;
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            i.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Dalam rangka mendukung kegiatan KTT G-20 Tahun 2022 dilaksanakan pengamanan
                                            dan pengawalan bidang lalu lintas dan dalam pelaksanaannya didukung dengan
                                            Poska yang dilengkapi system aplikasi K3i Korlantas Polri yang dipergunakan
                                            untuk melakukan pengawasan dan pengendalian anggota yang melaksanakan tugas
                                            Pamwalrolakir rangkaian kegiatan KTT G-20 di Bali, agar terwujud
                                            Kamseltibcar Lantas.
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>

                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>2.</p>
                            </div>

                        </td>
                        <td>
                            <p>Dasar</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Undang-undang No. 2 Tahun 2002 tentang Kepolisian Negara Republik Indonesia;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Undang-Undang Nomor 22 Tahun 2009 tentang Lalu Lintas dan Angkutan Jalan;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            c.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Peraturan Kapolri Nomor 8 Tahun 2021 tentang perubahan atas Peraturan
                                            Kapolri Nomor 1 Tahun 2019 tentang Sistem, Manajemen dan Standar
                                            Keberhasilan Operasional Kepolisian Negara Republik Indonesia;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            d.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Rencana Operasi Nomor : R/Renops/1910/X/OPS.1.1./2022 tanggal 22 September
                                            2022 tentang Pengamanan Konferensi Tingkat Tinggi (KTT) G20 Tahun 2022;
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            e.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Surat Telegram Kapolri Nomor : STR/777/X/OPS.1.3./2022 tanggal 18 Oktober
                                            2022 tentang petunjuk dan arahan pelaksanaan KTT G20 Bali tahun 2022;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            f.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Surat Telegram Kapolri Nomor : STR/788/X/OPS.1.3./2022 tanggal 24 Oktober
                                            2022 tentang pelaksanaan kegiatan Pamwalrolakir KTT G20 Bali di dukung
                                            dengan system aplikasi K3i Korlantas Polri TA. 2022;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            g.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Hal terpenting dalam penyelenggaraan KTT G-20 Tahun 2022 adalah jaminan
                                            keamanan masing-masing delegasi selama berada di Bali untuk itu diperlukan
                                            persiapan maksimal agar penyelanggaraan KTT G-20 Tahun 2022 yang akan
                                            dilaksanakan pada tanggal 15 s.d. 16 November 2022 dapat berjalan aman,
                                            lancer dan situasi kondusif serta menjaga reputasi Indonesia sebagai negara
                                            yang sukses menyelanggarakan event internasional;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            h.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Polri sebagai alat negara yang bertugas memelihara keamanan dan ketertiban
                                            masayarakat, menegakkan hukum, memberikan perlindungan, pengayoman dan
                                            pelayanan kepada masyarakat, dituntut untuk mampu mengantisipasi dan
                                            menanggulangi berbagai bentuk ancaman gangguan Kamtibmas;
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            i.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Dalam rangka mendukung kegiatan KTT G-20 Tahun 2022 dilaksanakan pengamanan
                                            dan pengawalan bidang lalu lintas dan dalam pelaksanaannya didukung dengan
                                            Poska yang dilengkapi system aplikasi K3i Korlantas Polri yang dipergunakan
                                            untuk melakukan pengawasan dan pengendalian anggota yang melaksanakan tugas
                                            Pamwalrolakir rangkaian kegiatan KTT G-20 di Bali, agar terwujud
                                            Kamseltibcar Lantas.
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>




                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>3.</p>
                            </div>

                        </td>
                        <td>
                            <p style="text-align: justify;">Maksud dan tujuan</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Maksud
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">

                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Laporan Anev Operasi Puri Agung 2022 Pengamanan KTT G20 dimaksudkan sebagai
                                            gambaran tentang hasil pelaksanaan Operasi yang dilaksanakan di Bali oleh
                                            BKO Korlantas Polri yang dilaksanakan selama 20 (dua puluh) hari, mulai
                                            tanggal 1 s/d 20 November 2022.

                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Tujuan
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">

                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Bertujuan sebagai bahan masukan kepada pimpinan tentang hasil Anev Operasi
                                            Puri Agung 2022 pengamanan KTT G20 Bali dalam rangka menciptakan
                                            kamseltibcar lantas yang kondusif, aman dan lancar mulai perencanaan,
                                            persiapan, pelaksanaan sampai dengan akhir guna menentukan kebijaksanaan
                                            tugas operasi lebih lanjut.

                                        </p>
                                    </td>
                                </tr>

                            </table>
                        </td>

                    </tr>


                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>4.</p>
                            </div>

                        </td>
                        <td>
                            <p style="text-align: justify;">Ruang Lingkup</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <p style="text-align: justify;">Ruang lingkup laporan Anev Operasi Puri Agung 2022
                                pengamanan KTT G20 dalam rangka
                                mewujudkan kondisi kamseltibcar lantas yang kondusif, aman dan lancar mulai perencanaan
                                sd selesai kegiatan meliputi pelaksanaan, hasil yang dicapai, analisa dan evaluasi,
                                hambatan / kendala serta kesimpulan dan saran.</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>5.</p>
                            </div>

                        </td>
                        <td>
                            <p style="text-align: justify;">Tata Urut</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            I.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            PENDAHULUAN
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            II.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            PELAKSANAAN
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            III.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            ANALISA DAN EVALUASI

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            IV.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            HAMBATAN
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            V.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            KESIMPULAN DAN SARAN

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            VI.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            PENUTUP

                                        </p>

                                    </td>
                                </tr>

                            </table>
                        </td>

                    </tr>
                </table>


                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">II.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">PELAKSANAAN</p>
                        </td>
                    </tr>
                </table>

                <table class="tableChild" style="width: 100%;">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>a.</b>
                            </div>

                        </td>
                        <td>
                            <b>Penyuluhan Lalu Lintas</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                lalu_lintas,titleBottom:`Tabel jenis penyuluhan lalu lintas pada Pelaksanaan Operasi
                                Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>b.</b>
                            </div>

                        </td>
                        <td>
                            <b>Jenis Media Penyuluhan</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                media_penyuluhan_1,titleBottom:`Tabel jenis media penyuluhan pada Pelaksanaan Operasi
                                Puri Agung 2022`}); %>
                        </td>


                    </tr>


                </table>


                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">1.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">KEGIATAN LALU LINTAS</p>
                        </td>
                    </tr>
                </table>
                <table class="tableChild" style="width: 100%;">

                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka"
                                ],bodyData:kegiatan_lalu_lintas_1,titleBottom:`Tabel jenis kegiatan lalu lintas pada
                                Pelaksanaan Operasi Puri Agung 2022`}); %>
                        </td>


                    </tr>



                </table>

                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">2.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">DAKGAR LANTAS</p>
                        </td>
                    </tr>
                </table>

                <table class="tableChild" style="width: 100%;">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>a.</b>
                            </div>

                        </td>
                        <td>
                            <b>Pelanggar berdasarkan Jenis ETLE</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                jenis_etle,titleBottom:`Tabel jumlah ETLE Pada pelaksanaan Operasi Puri Agung 2022`});
                                %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>b.</b>
                            </div>

                        </td>
                        <td>
                            <b>Pelanggar Roda Dua ( R.2 )</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                pelanggaran_roda_2,titleBottom:`Tabel jumlah Pelanggar R.2 Pada Pelaksanaan Operasi Puri
                                Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>c.</b>
                            </div>

                        </td>
                        <td>
                            <b>Pelanggar Roda Empat ( R.4 )</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                pelanggaran_roda_4,titleBottom:`Tabel jumlah Pelanggar R.4 Pelaksanaan Operasi Puri
                                Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>d.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Barang Bukti yang disita</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                barang_bukti,titleBottom:`Tabel jumlah Barang Bukti yang disita Pelaksanaan Operasi Puri
                                Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>e.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Kendaraan yang Akibat Pelanggaran</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                ranmor,titleBottom:`Tabel jumlah ranmor yang terlibat, Pelaksanaan Operasi Puri Agung
                                2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>f.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Profesi Pelanggar</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                profesi_pelanggar,titleBottom:`Tabel jumlah profesi yang terlibat Pelanggaran
                                Pelaksanaan Operasi Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>g.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Usia Pelanggar</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                usia_pelanggaran,titleBottom:`Tabel jumlah Usia Pelanggar Pelaksanaan Operasi Puri Agung
                                2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>h.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan SIM Pelanggar</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                sim_pelanggar,titleBottom:`Tabel jumlah SIM Pelanggar pada Pelaksanaan Operasi Puri
                                Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>i.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Lokasi Pelanggaran</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                lokasi_pelanggar,titleBottom:`Tabel jumlah Lokasi Pelanggaran pada Pelaksanaan Operasi
                                Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>j.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Jenis Jalan</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                jenis_jalan,titleBottom:`Tabel jumlah Jenis Jalan pada Pelaksanaan Operasi Puri Agung
                                2022`}); %>
                        </td>


                    </tr>


                </table>


                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">3.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">KECELAKAAN LALU LINTAS</p>
                        </td>
                    </tr>
                </table>

                <table class="tableChild" style="width: 100%;">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>a.</b>
                            </div>

                        </td>
                        <td>
                            <b>Jumlah Angka Kecelakaan Lalu-Lintas</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                kecelakaan,titleBottom:`Tabel jumlah angka kecelakaan lalu-lintas pada Pelaksanaan Puri
                                Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>b.</b>
                            </div>

                        </td>
                        <td>
                            <b>Jumlah Angka Kecelakaan Berdasarkan Usia Korban</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                kecelakaan_berd_usia,titleBottom:`Tabel jumlah kecelakaan berdasarkan usia korban pada
                                Pelaksanaan Operasi Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>c.</b>
                            </div>

                        </td>
                        <td>
                            <b>Jumlah Angka Kecelakaan Berdasarkan Profesi Korban</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                profesi_korban,titleBottom:`Tabel jumlah kecelakaan berdasarkan profesi korban pada
                                Pelaksanaan Operasi Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>d.</b>
                            </div>

                        </td>
                        <td>
                            <b>Jumlah Angka Kecelakaan Berdasarkan Pendidikan Korban</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                kecelakaan_berd_pendidikan,titleBottom:`Tabel jumlah kecelakaan berdasarkan pendidikan
                                korban Pelaksanaan Operasi Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>e.</b>
                            </div>

                        </td>
                        <td>
                            <b>Jumlah Angka Kecelakaan Berdasarkan Jenis Kendaraan</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                kecelakaan_berd_kendaraan,titleBottom:`Tabel jumlah ranmor yang terlibat, Pelaksanaan
                                Operasi Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>f.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Profesi Pelanggar</b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                profesi_pelanggar,titleBottom:`Tabel jumlah profesi yang terlibat Pelanggaran
                                Pelaksanaan Operasi Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>g.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Usia Pelanggar</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                usia_pelanggaran,titleBottom:`Tabel jumlah Usia Pelanggar Pelaksanaan Operasi Puri Agung
                                2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>h.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan SIM Pelanggar</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                sim_pelanggar,titleBottom:`Tabel jumlah SIM Pelanggar pada Pelaksanaan Operasi Puri
                                Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>i.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Lokasi Pelanggaran</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                lokasi_pelanggar,titleBottom:`Tabel jumlah Lokasi Pelanggar pada Pelaksanaan Operasi
                                Puri Agung 2022`}); %>
                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>j.</b>
                            </div>

                        </td>
                        <td>
                            <b>Berdasarkan Jenis Jalan</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <%- include('../pages/daily/table/template', {header:["NO", "Uraian" , "Angka" ],bodyData:
                                jenis_jalan,titleBottom:`Tabel jumlah Jenis Jalan pada Pelaksanaan Operasi Puri Agung
                                2022`}); %>
                        </td>


                    </tr>


                </table>



                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">III.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">ANALISA DAN EVALUASI</p>
                        </td>
                    </tr>
                </table>

                <table class="tableChild" style="width: 100%;">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>1.</b>
                            </div>

                        </td>
                        <td>
                            <b>GIAT DIKMAS LANTAS</b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>a.</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Kegiatan Penyuluhan</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>

                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: kegiatan_penyuluhan,titleBottom:`Tabel jenis penyuluhan
                                pada Pelaksanaan Operasi Puri Agung 2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada
                                    pelaksanaan Operasi
                                    Puri Agung 2022
                                    pengamanan KTT
                                    G20 kegiatan penyuluhan di
                                    laksanakan sebanyak ……… kali yang naik sebenyak ……..% jika dibandingkan pada Operasi
                                    Puri Agung 2021 periode yang sama yaitu sebanyak ……….., mengingat tingginya pengaruh
                                    media khususnya media sosial terhadap masyarakat, maka penyuluhan dengan media
                                    sosial jauh lebih tinggi disbanding dengan media penyuluhan yang lain.</p>
                        </td>


                    </tr>
                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>b.</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Pemasangan Media Penyuluhan</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>

                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: kegiatan_penyuluhan,titleBottom:`Tabel jenis media
                                penyuluhan pada Pelaksanaan Operasi Puri Agung 2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada
                                    Operasi Puri Agung 2022 pengamanan KTT G20 sebanyak ………… media penyuluan himbauan
                                    tentang keselamatan berlalu lintas sudah di pasang di berbagai lokasi dan dalam
                                    bentuk spanduk, leaflet, Sticker dan Billboard. Sama seperti tahun 2021 untuk media
                                    himbauan leaflet dan stiker masih media yang paling banyak digunakan untuk media
                                    penyuluhan lalu-lintas pada Operasi Puri Agung 2022 KTT G20 Bali.</p>
                        </td>


                    </tr>

                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>2.</b>
                            </div>

                        </td>
                        <td>
                            <b>KEGIATAN LALU LINTAS </b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <p
                                style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;margin-top: 2%;">
                                Jumlah
                                kegiatan lalu lintas yang dilaksanakan oleh personil yang terlibat dalam Operasi Puri
                                Agung Tahun 2022 adalah ………….. yang mana pada kegiatan pengaturan, penjangaan dan
                                patroli mengalami kenaikan. Berbeda dengan kegiatan lalu lintas yang lain, untuk
                                kegiatan Pengawalan masih turun disetiap tahunya, dan jika di banding dengan kegiatan
                                lalu-lintas lainnya, dalam bentuk angka terpaut sangat jauh dibawah kegiatan lalu lintas
                                lainnya.</p>
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: kegiatan_lalu_lintas,titleBottom:`Tabel jenis kegiatan
                                lalu lintas pada Pelaksanaan Operasi Puri Agung 2022`}); %>


                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>3.</b>
                            </div>

                        </td>
                        <td>
                            <b>DATA DAKGAR LANTAS </b>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <p
                                style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;margin-top: 2%;">
                                Penindakan pelanggaran lalu lintas dengan menggunakan ETLE pada pelaksanaan Operasi Puri
                                Agung 2022 Pengamanan KTT G20 sebanyak ……… apabila di bandingkan pada hari sebelum
                                sebanyak …… mengalami kenaikan sebanyak ……%. hal ini disebabkan karena masyarakat pada
                                saat pelaksanaan Operasi Puri Agung 2022 Kebijakan PPKM sudah pada level 3 sehingga
                                mobilitas masyarakat sudah di longgarkan dan adanya KTT G20 Bali. </p>
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: dakgar_lantas,titleBottom:`Tabel jenis dakgar lantas
                                pada Pelaksanaan Operasi Puri Agung 2022`}); %>


                        </td>


                    </tr>
                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>a.</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Berdasarkan Jenis Ranmor</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template-2', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' , 'KET' ],bodyData: jenis_ranmor,titleBottom:`Tabel jenis penyuluhan
                                pada Pelaksanaan Operasi Puri Agung 2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Penindakan
                                    pelanggaran lalu lintas dengan menggunakan ETLE pada pelaksanaan Operasi Puri Agung
                                    2022 Pengamanan KTT G20 terbanyak pada jenis Ranmor ……………. sebanyak ……… apabila di
                                    bandingkan pada hari sebelum sebanyak …… mengalami kenaikan sebanyak ……%. hal ini
                                    disebabkan karena masyarakat pada saat pelaksanaan Operasi Puri Agung 2022 Kebijakan
                                    PPKM sudah pada level 3 sehingga mobilitas masyarakat sudah di longgarkan dan adanya
                                    KTT G20 Bali. </p>

                        </td>


                    </tr>





                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>b.</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Data Dakgar Lantas Roda Dua (R.2)</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: lantas_roda_dua,titleBottom:`Tabel jumlah Pelanggar R.2
                                Pada Pelaksanaan Operasi Puri Agung 2022 `}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Data
                                    pelangar roda dua (R.2) pada saat pelaksanaan Operasi Puri Agung 2022 di dominasi
                                    oleh jenis pelanggaran Pengendara yang tidak menggunakan Helm SNI dengan jumlah …………
                                    Pelanggar apabila di badningkan pada operasi Puri Agung Tahun 2021 sebanyak ……..
                                    mengalami kenaikan ….% </p>

                        </td>


                    </tr>



                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>c.</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Data Dakgar Lantas Roda Empat (R.4)</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: pelanggaran_roda_4_2,titleBottom:`Tabel jumlah Pelanggar
                                R.4 Pada Pelaksanaan Operasi Puri Agung 2022 `}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada
                                    operasi Puri Agung tahun 2022 pelanggar dari pengendara Roda Empar ( R.4 ) sebanyak
                                    ....... pelanggar bisa .....% jika di bandingkan dengan sebelumnya sebanyak
                                    ............. Pelanggar. Jenis Pelanggaran Paling banyak oleh pengendara Roda Empat
                                    ( R.4 ) pada operasi Puri Agung 2022 adalah tidak menggunakan Safety belt yaitu
                                    sebanyak ............. pelanggaran.</p>

                        </td>


                    </tr>

                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>d.</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Data Dakgar Lantas Berdasarkan Barang Bukti yang disita</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: barang_bukti_disita,titleBottom:`Tabel jumlah dakgar
                                lantas berdasarkan barang bukti yang disita Pada Pelaksanaan Operasi Puri Agung 2022
                                `}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada
                                    operasi Puri Agung tahun 2022 pelanggar dari pengendara Roda Empar ( R.4 ) sebanyak
                                    .......... pelanggar bisa .....% jika di bandingkan dengan sebelumnya sebanyak
                                    ....... Pelanggar. Jenis Pelanggaran Paling banyak oleh pengendara Roda Empat ( R.4
                                    ) pada operasi Puri Agung 2022 adalah tidak menggunakan Safety belt yaitu sebanyak
                                    .............. pelanggaran.</p>

                        </td>


                    </tr>
                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>e.</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Data Dakgar Lantas Berdasarkan Usia Pelanggar</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: kecelakaan_berd_usia_1,titleBottom:`Tabel jumlah SIM
                                Pelanggar pada Pelaksanaan Operasi Puri Agung 2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada angka
                                    data pelanggar berdasaran usia, pelanggar terbanyak adalah pelanggar dengan rentang
                                    usia 41 s.d. 45 tahun dengan jumlah pelanggar mencapai ............ pelanggar</p>

                        </td>


                    </tr>


                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>f.</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Data Dakgar Lantas Berdasarkan Profesi Pelanggar</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: profesi_korban_1,titleBottom:`Tabel jumlah dakgar lantas
                                berdasarkan profesi pelanggar yang terlibat Pelanggaran Pelaksanaan Operasi Puri Agung
                                2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada
                                    pergelaran operasi Puri Agung 22 pelanggar terbanyak adalah pengendara dengan
                                    profesi karyawan swasta yaitu sebanyak .......... pengendara, hal itu sebanding
                                    dengan jumlah pengendara di Indonesia yang mana Karyawan Swasta adalah profesi
                                    terbanyak pengendara di Indonesia.</p>

                        </td>


                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>4.</b>
                            </div>

                        </td>
                        <td>
                            <b>DATA KECELAKAAN LALU LINTAS </b>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>1)</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Angka Kecelakaan Lalu Lintas</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: kecelakaan_1,titleBottom:`Tabel jumlah angka kecelakaan
                                lalu-lintas pada Pelaksanaan Puri Agung 2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada
                                    Operasi Puri Agung 2022 hampir semua angka kecelakaan lalu lintas mengalami
                                    kenaikan, hal itu di karenakan pada Operasi Puri Agung 2021 dibandingkan hari ini
                                    dengan hari sebelumnya.</p>

                        </td>


                    </tr>
                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>2)</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Usia Korban Kecelakaan</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: kecelakaan_berd_usia_1,titleBottom:`Tabel jumlah angka
                                kecelakaan berdasarkan usia korban pada Pelaksanaan Puri Agung 2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada usia
                                    korban kecelakaan adalah pengendara dengan rentang usia 15-19 Tahun yang mana
                                    setengah dari korban dengan usia tersebut belum memiliki SIM dan belum dewasa.</p>

                        </td>


                    </tr>
                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>3)</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Profesi Korban Kecelakaan</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: profesi_pelanggar_1,titleBottom:`Tabel jumlah angka
                                kecelakaan profesi korban pada Pelaksanaan Puri Agung 2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Sesuai
                                    dengan profesi pengendara di Indonesia, yang mana pengendara dengan profesi Karyawan
                                    Swasta adalah profesi terbanyak di Indonesia hal itu juga berdampak ke profesi
                                    korban kecelakaan Lalu lintas pada Operasi Puri Agung 2022, yang mana profesi korban
                                    kecelakaan lalu lintas terbanyak adalah …………………… sebanyak ……………. Pengendara.</p>

                        </td>


                    </tr>
                    <tr>

                        <td colspan="2">
                            <table style="width: 100%;margin-left: 3.5%;">
                                <tr>
                                    <td style="width: 30px;">
                                        <div>
                                            <b>4)</b>
                                        </div>

                                    </td>
                                    <td>
                                        <b>Kendaraan yang Terlibat Kecelakaan</b>
                                    </td>

                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <%- include('../pages/daily/table/child-template', {header:['NO', 'Uraian' , h1 , h2
                                , 'Angka' , 'TREND' ],bodyData: ranmor_1,titleBottom:`Tabel jumlah kecelakaan kendaraan
                                yang terlibat pada Pelaksanaan Puri Agung 2022`}); %>

                                <p style="text-align: justify;width: 73%;margin-left: 4%;text-indent: 0.5in;">Pada
                                    operasi Puri Agung 2022 pengamanan G20 Bali, jenis kendaraan yang terlibat
                                    kecelakaan lalu lintas, adalah jenis kendaraan ……………….. dengan jumlah kecelakaan
                                    terbanyak dengan jumlah sebanyak …… kendaran.</p>

                        </td>


                    </tr>

                </table>
                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">IV.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">KESIMPULAN DAN SARAN</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>1.</p>
                            </div>

                        </td>
                        <td>
                            <p>Kesimpulan</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Operasi Puri Agung 2022 pengamanan KTT G20 Bali secara umum berjalan
                                            sesuai dengan pentahapan operasi yang telah ditetapkan.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Semua Satgas dan Unsur operasi lainnya melaksanakan kegiatan operasi
                                            Puri Agung secara profesional, modern dan terpercaya dimulai tanggal 1
                                            November 2022 pukul 00.00 waktu setempat dan berakhir pada tanggal 20
                                            Oktober 2022 pukul 24.00 waktu setempat.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            c.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Operasi Puri Agung 2022 pengamanan KTT G20 dilaksanakan lebih menitik
                                            beratkan pada kegiatan preemtiv yaitu dengan melakukan penyuluhan,
                                            penerangan baik melalui media cetak/elektronik maupun media sosial serta
                                            melakukan kegiatan preventif berupa pelaksanaan pengawalan, pengaturan,
                                            penjagaan dan patroli Lalu-Lintas serta parkir pada rute perjalanan
                                            delegasi KTT G20 maupun pada ruas-ruas jalan yang rawan terjadi
                                            pelanggaran dan kesemrawutan serta rawan kecelakaan lalu lintas.

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            d.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Penindakan pelanggaran lalu lintas dilaksanakan dengan simpatik melalui
                                            teguran baik lisan maupun dengan menggunakan blanko teguran dan
                                            penindakan pelanggaran lalu lintas melalui ETLE statis ataupun ETLE
                                            Mobile.
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            e.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Kejadian kecelakaan lalu lintas pada operasi Puri Agung 2022 pengamanan
                                            KTT G20 mengalami ...............apabila dibandingkan dengan hari
                                            sebelum operasi, hal ini disebabkan karena adanya kegiatan KTT G20 Bali
                                            maupun akibat aktifitas masyarakat yang sudah normal kembali mengingat
                                            pemberlakuan PPKM level 3 menjelang situasi kondisi new normal.

                                        </p>

                                    </td>
                                </tr>

                            </table>
                        </td>

                    </tr>
                </table>
                <table class="tablesData">

                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>2.</p>
                            </div>

                        </td>
                        <td>
                            <p>Saran</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Meningkatkan kegiatan sosialisasi kepada masyarakat dan wisatawan di
                                            Bali terkait adanya kegiatan event Internasional KTT G20 yang
                                            diselenggarakan di Bali (Nusa Dua Denpasar) agar semua pihak mendukung
                                            dan menyesuaikan aktivitas lalu lintas tidak pada jam bersamaan maupun
                                            memilih lokasi jalan yang lain;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Peningkatan sinergitas antar pemangku kepentingan bidang lalu lintas dan
                                            Angkutan Jalan maupun pihak terkait (Paspamres dan TNI serta Instansi
                                            lainnya) dalam rangka mewujudkan Kamseltibcarlantas maupun Kamtibmas
                                            khususnya di Lokasi KTT G20 maupun Bali pada umumnya termasuk Indonesia.
                                        </p>
                                    </td>
                                </tr>


                            </table>
                        </td>

                    </tr>
                </table>
                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">V.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">PENUTUP</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <!-- <div>
                                <p style="font-weight: bold;">V.</p>
                            </div> -->

                        </td>
                        <td>
                            <p style="text-align: justify">Demikian laporan pelaksanaan Operasi Puri Agung 2022
                                pengamanan KTT G20 Bali ini dibuat sebagai bahan masukan bagi Pimpinan dalam rangka
                                menentukan kebijakan tugas operasi lebih lanjut. </p>
                        </td>
                    </tr>
                </table>
                <table class=" " style="width: 100%;margin-top: 5%;">

                    <tbody>

                        <tr>
                            <td style="width: 50%;"></td>
                            <td style="text-align: center;">
                                <p style="text-align: center;">Jakarta, November 2022 <br>KABAGOPS KORLANTAS POLRI</p>
                                <p style="text-align: center;"></p>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class=" " style="width: 100%;margin-top: 5%;">

                    <tbody>

                        <tr>
                            <td style="width: 50%;"></td>
                            <td style="text-align: center;padding: 5%">


                                <p style="text-align: center;border-bottom: 1px solid black;">EDDY DJUNAEDY,
                                    S.I.K.</p>
                                <p style="text-align: center;margin-top: -5%;">KOMISARIS BESAR POLISI NRP. 70121121</p>

                            </td>
                        </tr>
                    </tbody>
                </table>
</body>

</html>